.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docuser
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.meili_data/
meili_data/

Shop.API/bin/
Shop.API/obj/

Shop.API/appsettings.Development.json
Shop.API/appsettings.local.json

Shop.Client/node_modules/
Shop.Client/dist/
Shop.Client/dist-ssr/

Shop.Client/.vite/
Shop.Client/.eslintcache/

Shop.Client/logs/
Shop.Client/*.log
Shop.Client/npm-debug.log*
Shop.Client/yarn-debug.log*
Shop.Client/yarn-error.log*
Shop.Client/pnpm-debug.log*